# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution
.Python
build/
dist/
*.egg-info/
*.egg

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
frontend/dist/

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# Coverage
htmlcov/
.coverage
.coverage.*
backend/test_os_pdf.pdf
