.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
htmlcov
.pytest_cache
.mypy_cache
*.egg-info
dist
build
*.egg
.eggs
docs/_build
.idea
.vscode
*.swp
*.swo
node_modules
.env
*.log
staticfiles
media
